:root {
    --light-squares: #b0e298;
    --dark-squares: #6883ba;
    --theme-colour: #6883ba;
}

* {
    border: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.border {
    border: solid black;
}
