.main-container {
    display: flex;
    position: absolute;
    width: calc(100vw - 250px);
    top: 68px;
    left: 250px;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 68px);
}

#confirm-container {
    visibility: hidden;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
}
