@import url("main-styles.css");
@import url("pieces.css");
@import url("chess-board.css");
@import url("sidebar.css");
@import url("main-section.css");

.confirm-boxes {
    display: flex;
}

.tick-cross-img {
    height: 60px;
}

.tick-cross-img img {
    height: 100%;
    margin: 5px;
}

#pop-up {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    z-index: 1;
    visibility: hidden;
}

.pop-up-center {
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.pop-up-message {
    padding: 100px;
    text-align: center;
}

.pop-up-message h2 {
    margin-bottom: 20px;
}

.flex-container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
